<h1>Create new project</h1>
<form method="post" id='create_form'>
	<table class="table table-bordered">
		<tr>
			<td><b>Name</b></td>
			<td><input class="form-control" type='text' name='name'></input></td>
		</tr>
		<tr>
			<td><b>Description</b></td>
			<td><textarea class="form-control" name='description' rows="4" form='create_form' style="resize:none;"></textarea></td>
		</tr>
	</table>
	<center><input type='submit' name='submit' class="btn btn-default" /></center>
</form>